#init-container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 60px repeat(10, 1fr) 30px;

  height: 100%;
  background-color: #192736;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111b2600; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #253b53; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #38597c; 
}