#mymain{
  display: grid;
  grid-template-rows: 70px auto;
  align-items: center;

  grid-column: 1 / 13;
  grid-row: 2 / 12;

  color: #fff;
  padding: 1% 1%;
  overflow-x: hidden;
  overflow-y: auto;
}