.todo-search-container{
  display: grid;
  grid-template-columns: minmax(50px, 300px) 60px;
  grid-template-rows: 60px;
  align-items: center;
  padding-left: 8px;
}
.todo-search-input{
  justify-self: right;
  border-radius: 0.25rem 0 0 0.25rem
}

.btn-search{
  justify-self: left;
  width: 50px;
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: #22a4dd;
  border-color: #22a4dd;
  color: #fff;
}

.btn-search:hover{
  background-color: #91d0eb;
  border-color: #91d0eb;
  color: #fff;
}